<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Data</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
</head>
<body>
    <h2>Using Django Framework</h5> 

    <ul>
        {% for pokemon_info in pokemon_list %}
            <li>
                <h3>{{ pokemon_info.name }}</h3>
                <img src="{{ pokemon_info.sprite }}" alt="{{ pokemon_info.name }} sprite" style="width:70px">
                <p>Number of Abilities: {{ pokemon_info.abilities_count }}</p>
                <a href="{{ pokemon_info.url }}">View Details</a>
            </li>
        {% endfor %}
    </ul>

    <form method="post">
        <!-- Cross-site request forgery Protection-->
        {% csrf_token %}
        
        <!-- Searchbar -->
        <input type="text" name="pokemon" placeholder="Search Your Pokemon...">
        <button type="submit">Search</button>
    </form>

    <div>
        <!-- You can add more details or images for each Pokémon if needed -->
    </div>
</body>

</html>
