<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeApi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <div class="image-container">
        <img class="mini-logo" src="{% static 'img/mini_logo.png' %}" >
    </div>
        
    <ul>
        {% for pokemon_info in pokemon_list %}
            <li style="list-style-type:none">
                
                <img src="{{ pokemon_info.sprite }}" alt="{{ pokemon_info.name }} sprite">
                <h3>{{ pokemon_info.name }}</h3>
                <p>Número de habilidades: {{ pokemon_info.abilities_count }}</p>
                <a href="{{ pokemon_info.url }}">Ver más detalles</a>
            </li>
        {% endfor %}
    </ul>

</body>

</html>
